@use "@App/styles/colors.scss" as *;

.logo_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50%;
  color: #F9A75D;
  text-align: center;
  justify-content: center;
  margin-bottom: 15%;
  margin-top: 10%;
}
.logout {
  background-color: #ffffff;
  border-radius: 11px;
  color: $primary;
  font-family: inherit;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    margin-left: 10px;
  }
  margin-top: 10%;
}
.main {
  max-width: 10%;
  min-width: 300px;
}

.links {
  display: flex;
  flex-direction: column;
}

.linksText {
  margin: 20px 50px;
  color: white;
}

.barcontainer {
  display: flex;
  padding: 30px 20px;
  justify-content: flex-start;
  flex-direction: column;
  background-color: $primary;
  color: $light-text;
  font-weight: 700;
  position: fixed;
  overflow-y: auto;
  max-width: 10%;
  min-width: 300px;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
}
